
body {
  background-color: #EAE8DC;
  font-family: 'Raleway', sans-serif;
}
header {
  background-color: #D4C2B2;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be2623;
    bottom: 50;
    border-radius: 0.5rem;
}
li {
    float:left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #0e3746;
}
h3#text-nav {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}
.tittle {
font-size: 1.7rem;
text-align: center;
padding-top: 0.5rem;
}
.card {
  background-color: #D4C2B2;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flexbox;
}
video {
  align-content: center
}
.card-img-top {
  width: 100%;
  height: 13rem;
  border-radius: 1rem;
}
.card-info {
  width: 20rem;
  background-color: #0e3746;
  border-radius: 1rem;
}
.text-info-card {
  color: white;
  padding: 0.5rem;
}
.sub-tittle {
  font-size: 2rem;
text-align: center;
color: white;
}
iframe{
  border-radius: 1rem;
}